body{
    margin: 0;
}

.layout{
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: 
        "sidebar topbar"
        "sidebar main"
    ;
}

/* Sidebar Section */
.sidebar{
    grid-area: sidebar;
    background-color: #1992d4;
    padding: 10px;
    padding-right: 40px;
    color: white;

    
}

.sidebar > ul {
    margin: 50px auto;
    list-style: none;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(auto-fit, 20px);
}

.sidebar > ul > li {
    cursor: pointer;
}


/* Header section */
.topbar{
    grid-area: topbar;
    padding: 10px;
}


/* Main Content section */
.content{
    grid-area: main;
    background-color: #e2e8f0;
    padding: 20px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
}

.content-yourProjects,.content-announcements, .content-trending{
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Main Content section - Your Projects */
.content-yourProjects{
    grid-area: projects;


}

.content-yourProjects-cardGrid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-template-rows: repeat(3, 1fr);
}

.card{
    background-color: white;
    /* height: 250px; */
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px;
}


/* Main Content section - announcements */

.content-announcements{
    grid-area: announcements;

}


/* Main Content section - Trendings */

.content-trending{
    grid-area: trending;
}

.content-trending-grid{
    display: grid;
    grid-template-rows: repeat(4,1fr);
}

.trending-item{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "img title"
        "img desc";
}

.trending-img{
    grid-area: img;
}

.trending-title{
    grid-area: title;
}

.trending-desc{
    grid-area: desc;
}

.content-trending *{
    margin: 0;
}